<%= render "landing_page/header" %>
<div class="container">
  <div class="row pt-1">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active h-50">
        <img src="https://as1.ftcdn.net/v2/jpg/02/97/67/70/1000_F_297677001_zX7ZzRq8DObUV5IWTHAIhAae6DuiEQh4.jpg" class="d-block w-100 h-50" alt="...">
      </div>
      <div class="carousel-item h-50">
        <img src="https://as2.ftcdn.net/v2/jpg/04/76/57/27/1000_F_476572792_zMwqHpmGal1fzh0tDJ3onkLo88IjgNbL.jpg" class="d-block w-100 h-50" alt="...">
      </div>
      <div class="carousel-item h-50">
        <img src="https://as1.ftcdn.net/v2/jpg/02/97/67/70/1000_F_297677001_zX7ZzRq8DObUV5IWTHAIhAae6DuiEQh4.jpg" class="d-block w-100 h-50" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  <div class="row pt-4 mb-4">
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card h-100">
        <img src="https://img.freepik.com/premium-photo/beef-cheese-berger-with-background-16_1257089-669.jpg?w=1060" class="card-img-top" alt="Berger">
        <div class="card-body">
          <h5 class="card-title">Berger</h5>
          <p class="card-text">Berger Food refers to a range of products and services related to high-quality, nutritious food.</p>
          <a href="#" class="btn" style="background:rgb(0 0 0 / 71%); color:white;">Order now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card h-100">
        <img src="https://img.freepik.com/premium-photo/two-pizzas-with-cheese-sauce-them-one-which-has-word-pizza-it_1178289-6992.jpg?w=1060" class="card-img-top" alt="Berger">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">It is uncertain when tomatoes were first added and there are many conflicting claims.</p>
          <a href="#" class="btn" style="background:rgb(0 0 0 / 71%); color:white;">Order now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card h-100">
        <img src="https://img.freepik.com/free-photo/top-view-tasty-composition-noodles-table_23-2148803862.jpg?t=st=1726164930~exp=1726168530~hmac=0505d37ab493e38148c141f2881777e18a537e2bf15cbd5fba17dacf8bdfb7a0&w=1060" class="card-img-top" alt="Berger">
        <div class="card-body">
          <h5 class="card-title">Chow Mein</h5>
          <p class="card-text">Chow mein is a popular Chinese-American dish consisting of stir-fried noodles, vegetables, meat or tofu.</p>
          <a href="#" class="btn" style="background:rgb(0 0 0 / 71%); color:white;">Order now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card h-100">
        <img src="https://img.freepik.com/premium-photo/plate-dumplings-with-small-container-sauce-it_1308172-422403.jpg?w=1060" class="card-img-top" alt="Berger">
        <div class="card-body">
          <h5 class="card-title">Momo</h5>
          <p class="card-text">Momo is a type of steamed filled dumpling originating from Tibetan and Nepali cuisine.</p>
          <a href="#" class="btn" style="background:rgb(0 0 0 / 71%); color:white;">Order now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card h-100">
        <img src="https://img.freepik.com/premium-photo/plate-dumplings-with-small-container-sauce-it_1308172-422403.jpg?w=1060" class="card-img-top" alt="Berger">
        <div class="card-body">
          <h5 class="card-title">Momo</h5>
          <p class="card-text">Momo is a type of steamed filled dumpling originating from Tibetan and Nepali cuisine.</p>
          <a href="#" class="btn" style="background:rgb(0 0 0 / 71%); color:white;">Order now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card h-100">
        <img src="https://img.freepik.com/free-photo/top-view-tasty-composition-noodles-table_23-2148803862.jpg?t=st=1726164930~exp=1726168530~hmac=0505d37ab493e38148c141f2881777e18a537e2bf15cbd5fba17dacf8bdfb7a0&w=1060" class="card-img-top" alt="Berger">
        <div class="card-body">
          <h5 class="card-title">Chow Mein</h5>
          <p class="card-text">Chow mein is a popular Chinese-American dish consisting of stir-fried noodles, vegetables, meat or tofu.</p>
          <a href="#" class="btn" style="background:rgb(0 0 0 / 71%); color:white;">Order now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card h-100">
        <img src="https://img.freepik.com/premium-photo/two-pizzas-with-cheese-sauce-them-one-which-has-word-pizza-it_1178289-6992.jpg?w=1060" class="card-img-top" alt="Berger">
        <div class="card-body">
          <h5 class="card-title">Pizza</h5>
          <p class="card-text">It is uncertain when tomatoes were first added and there are many conflicting claims.</p>
          <a href="#" class="btn" style="background:rgb(0 0 0 / 71%); color:white;">Order now</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-12">
      <div class="card h-100">
        <img src="https://img.freepik.com/premium-photo/beef-cheese-berger-with-background-16_1257089-669.jpg?w=1060" class="card-img-top" alt="Berger">
        <div class="card-body">
          <h5 class="card-title">Berger</h5>
          <p class="card-text">Berger Food refers to a range of products and services related to high-quality, nutritious food.</p>
          <a href="#" class="btn" style="background:rgb(0 0 0 / 71%); color:white;">Order now</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "landing_page/footer" %>